@mixin properties() {
	--text-color: #1a1a1a;
	--primary: #217f90;
	--text-on-primary: #fffbff;
	--on-primary: #fffbff;
	--primary-container: #a2eeff;
	--on-primary-container: #001f25;

	--secondary: #4a6268;
	--text-on-secondary: #ffffff;
	--on-secondary: #ffffff;
	--secondary-container: #cde7ed;
	--on-secondary-container: #051f24;

	--tertiary: #545d7e;
	--on-tertiary: #ffffff;

	--surface: #e9e9e9;
	--on-surface: #191c1d;
	--surface-bright: var(--neutral-87);
	--surface-container: var(--neutral-90);
	--outline: #6f797b;
	

	--background: #fbfcfd;
	--on-background-variant: #707070;
	--on-background: #191c1d;
	
	--surface-variant: var(--neutral-variant-90);
	/* --surface-variant: #ededed; */
	--on-surface-variant: #343434;

	--on-error: #cc0000;
	--on-error-container: #dddddd;
	--on-error-border: #ff0000;

	--on-warning: #343434;
	--warning-container: #fcc678;
	--warning-border: #de8808;

	--on-success: #1c5829;
	--success-container: #afe190;
	--success-border: #29850e;

	--on-info: #d2ecf1;
	--info-container: #296670;
	--info-border: #d2ecf1;

	--variant-background-container: linear-gradient(180deg, var(--tertiary) 14%, var(--secondary) 92%);
	--box-shadow: 0px 2px 8px #58585833;

	// variables que usa pragmate para los Toats
	--info-container: #2196f3;
	--warning-container: #ffc107;
	--error-container: #cf6679;
	--background-color: #121212;
	--success-container: #388e3c;

	// Variables para los charts
	--chart-primary: rgba(255, 99, 132, 0.6);
	--chart-secondary: rgba(54, 162, 235, 0.6);
	--chart-tertiary: rgba(255, 206, 86, 0.6);
}
