.container-selection {
  .item-check {
    display: flex;
    justify-content: space-between;
    button.pragmate-icon-button .pragmate-icon {
      fill: var(--primary-dark);
      height: 30px;
    }
    .cbx input {
      border: none;
      outline: none;
      border-bottom: 1px solid var(--primary);
      font-size: 14px;
      height: 31px;
      font-weight: 500;
      color: var(--on-surface);
      font-family: var(--font-family);
      padding: 0;
    }
  }
  .pragmate-checkbox .inp-cbx:checked + .cbx span:last-child {
    color: var(--on-surface);
  }
  .pragmate-checkbox .cbx {
    display: flex;
    -moz-column-gap: 8px;
    column-gap: 8px;
    align-items: center;
    span {
      color: var(--on-surface);
    }
    span:first-child {
      border-color: var(--primary);
    }
  }
}
