.footer-jivew {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    background: var(--background);
    z-index: 1;
 
    .select-items {
        font-size: 16px;
        select {
            height: 30px;
            padding: 0px 23px 0px 23px;
            line-height: 1;
        }
    }
}