.jview-search-bar {
	border: var(--border-primary);
	display: flex;
	align-items: center;
	height: -webkit-min-content;
	height: -moz-min-content;
	height: min-content;
	width: -webkit-min-content;
	width: -moz-min-content;
	width: min-content;
	min-width: 300px;

	.search-border {
		display: flex;
		height: 45px;
		width: 100%;
		flex-direction: row;
		opacity: 0.5;
		border: 1px solid var(--outline);
		transition: all 0.2s;
		justify-content: center;
		border-top-left-radius: var(--border-primary);
		border-bottom-left-radius: var(--border-primary);
		.search-input {
			outline: none;
			border: none;
			margin: 0;
			border-radius: 0;
			border-top-left-radius: var(--border-primary);
			border-bottom-left-radius: var(--border-primary);
			background-color: transparent;
			color: var(--on-background);
			width: 100%;
			padding: 0 16px;
			&::-webkit-input-placeholder {
				color: var(--on-background);
			}
			&::-moz-placeholder {
				color: var(--on-background);
			}
			&:-ms-input-placeholder {
				color: var(--on-background);
			}
			&::-ms-input-placeholder {
				color: var(--on-background);
			}
			&::placeholder {
				color: var(--on-background);
			}
		}
		&:focus-within {
			border: 1px solid var(--primary);
		}
		.pragmate-icon-button svg {
			fill: var(--on-background);
		}
	}
	.btn.btn-primary.pragmate-button.has-icon {
		border-radius: 0;
		border-top-right-radius: var(--border-primary);
		border-bottom-right-radius: var(--border-primary);
		padding: 1.4rem 1rem;
		svg {
			fill: var(--on-primary);
		}
	}
}
.search-create {
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
	button.pragmate-button.create-button {
		min-width: 100px;
		position: relative;
		top: 0px;
		align-self: flex-end;
	}
}
