.content-pager {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--on-surface);
	flex-wrap: wrap;
	font-size: 16px;
	@media screen and (max-width: 500px) {
		justify-content: flex-end;
		font-size: 14px;
	}
}
.container-table.container-table-fetching {
	position: relative;
	pointer-events: none;
	opacity: .7;
	.jview-fetching {
		position: absolute;
		inset: 0;
		height: 100%;
		width: 100%;
		z-index: 10;
		border-radius: var(--border-primary);
		.pragmate-element-spinner {
			position: absolute;
			inset: 0;
			z-index: 20;
			margin: auto;
			width: 80px;
			height: 80px;
		}
	}
}
// .spinner {
// 	background: var(--surface);
// 	border-radius: var(--border-primary);
// 	width: 100%;
// 	min-height: 942px;
// 	margin: 24px 0 0 0;
// 	display: grid;
// 	place-content: center;

// 	svg {
// 		width: 180px;
// 		height: 180px;
// 	}
// }
