.table {
  width: 100%;
  border-collapse: separate;
  margin: 0;
  border-spacing: 0 15px;
  thead {
    background-color: var(--surface);
    color: var(--on-surface);
    position: relative;

    tr 
   
      th {
        font-weight: 500;
        margin-left: 8px;
        color: var(--on-surface);
        text-align: left;
        padding: 0 8px;
       
        span {
          display: inline-block;
          font-size: 17px;
          font-weight: bold;
          line-height: 1;
          &.arrow-order {
            display: flex;
            align-items: center;
            .pragmate-icon-button.btn-default {
              width: 30px;
              height: 30px;
              svg.pragmate-icon {
                fill: var(--primary);
                width: 30px;
                height: 30px;
              }
            }
          }
        }
      
    }
  }
  tbody {
    margin: 20px 0;
    tr {
      outline: 1px solid var(--border-color);
      //  border-radius: var(--border-secondary);
      position: relative;
      background-color: var(--background);
      box-shadow: var(--box-shadow);
      //  clip-path: inset(-10px round 47px);
    }
    tr td {
      padding: 20px 10px;
      text-align: left;
      background-color: var(--background);
      color: var(--on-background);
      span {
        display: inline-block;
        text-align: center;
        color: var(--on-surface);
        font-size: 15px;
      }
      svg,
      .pragmate-icon-button .pragmate.icon svg {
        fill: var(--on-background) !important;
      }
      &.content-action {
        cursor: pointer;
      }
    }
  }
}
.container-table {
  border-radius: var(--border-primary);
  background-color: var(--surface);
  padding: 20px 23px;
  border: 1px solid var(--surface-variant);
  width: 100%;
  margin: 24px 0 0;
  box-shadow: var(--box-shadow);
  h4 {
    margin: 0;
  }
}
