.form-group-select {
    position: relative;
    svg.pragmate-icon {
        position: absolute;
        bottom: 8px;
        right: 8px;
        stroke: var(--primary);
        width: 15px;
        height: 15px;
    }
}