.search-operations {
	position: relative;
	width: 100%;
	max-width: 352px;
	.fields-date {
		display: flex;
		width: 100%;
		justify-content: space-between;
		-moz-column-gap: 16px;
		column-gap: 16px;
		.fieldset {
			width: 100%;
		}
	}
}
