.jadmin-input {
    display: flex;
    flex-direction: column;
    row-gap: 11.06px;

    .beyond-element-input,
    .pragmate-element-input,
    .pui-input,
    .pui-element-textarea,
    .beyond-element-textarea {
        margin: 0;
        border-radius: var(--border-primary);
        border: 1px solid var(--background);
        background-color: var(--background);

        input,
        textarea {
            font-size: 16px;
            letter-spacing: 0px;
            color: var(--on-background);

            &:focus {
                color: var(--on-background);
            }
        }

        &:hover:not(&.disabled),
        &:focus-within:not(&.disabled) {
            border-color: var(--background);
        }

        &:hover:not(&.disabled) input,
        &:hover:not(&.disabled) textarea {
            color: var(--on-background);
        }

        button.beyond-icon-button,
        .pui-icon-button,
        svg.beyond-icon {
            fill: var(--on-background);
        }

        input[type='password']::-ms-reveal,
        input[type='password']::-ms-clear,
        input[type='password']::-webkit-contacts-auto-fill-button,
        input[type='password']::-webkit-credentials-auto-fill-button {
            display: none !important;
        }
    }

    .beyond-element-input,
    .pragmate-element-input,
    .beyond-element-textarea,
    .pui-input,
    .pui-element-textarea,
    .pragmate-element-textarea {
        .beyond-element-input-error,
        .pragmate-element-input-error {
            bottom: -1.25rem;
            color: var(--on-error);
            font-size: 12px;
        }

        &.error {
            border-color: var(--on-error);
        }
    }

    .beyond-element-textarea,
    .pui-element-textarea,
    .pragmate-element-textarea {
        min-height: 135px;

        textarea {
            min-height: inherit;
        }
    }

    .label-jadmin {
        font-size: 16px;
        letter-spacing: 0px;
        color: var(--on-background);
        font-weight: 300;
        line-height: 1;
        text-transform: lowercase;

        &::first-letter {
            text-transform: uppercase;
        }
    }
}
