.content-selection .container-select {
    margin: 0 16px 8px;
    .select-search {
        background-color: var(--background, #fff);

        input {
            background-color: var(--background, #fff);
            color: var(--on-background, rgb(51, 51, 51));
            &::-webkit-input-placeholder {
                color: var(--on-background, rgb(51, 51, 51));
            }
            &::-moz-placeholder {
                color: var(--on-background, rgb(51, 51, 51));
            }
            &:-ms-input-placeholder {
                color: var(--on-background, rgb(51, 51, 51));
            }
            &::-ms-input-placeholder {
                color: var(--on-background, rgb(51, 51, 51));
            }
            &::placeholder {
                color: var(--on-background, rgb(51, 51, 51));
            }
        }
        &:focus-within {
            border-color: var(--primary, #253858);
        }
        .icon-search {
            &::before {
                background-color: var(--on-background, rgb(51, 51, 51));
            }
            button.pui-icon-button {
                svg.pui-icon {
                    fill: var(--on-background, rgb(51, 51, 51));
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }
    .options {
        background-color: var(--background, #fff);
        color: var(--on-background, rgb(51, 51, 51));
        font-size: 14px;
        .option {
            padding: 4px 8px;
        }
    }
}
