.page__container {
	display: flex;
	padding: 20px;
	max-width: 1024px;
	margin: 20px auto;
	flex-direction: row;
	background: var(--surface);

	.container__table {
		max-width: 900px;
		margin: 0 auto 0;
	}
}
