.empty-jview.pui-empty-section {
	margin:  0 0 0;
	background-color: var(--surface);
	border-radius: var(--border-primary);
	border: 1px solid var(--outline);
	width: 100%;
    padding: 30px 30px 0;
	
	.content {
		align-items: center;
		background-color: var(--background);
		width: 80%;
		justify-content: center;
		padding: 16px;
		flex-direction: row;
		-moz-column-gap: 16px;
		     column-gap: 16px;
		svg.pragmate-icon {
			width: 20px;
			height: 20px;
			margin: 0;
			display: block;
			fill: var(--on-primary);
		}
		h3 {
			margin: 0;
			font-size: 24px;
			color: var(--on-surface);
			font-weight: 400;
		}
	}
}
