//@import "~template/sass/variables";
.jview-component-pager {
	text-align: right;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	.content-pager {
		width: -webkit-max-content;
		width: -moz-max-content;
		width: max-content;
		margin: 0;
		border-radius: var(--border-primary);
		border: 1px solid var(--border-color);
		display: flex;
		justify-content: flex-end;
		-moz-column-gap: 8px;
		column-gap: 8px;
		padding: 8px;
		button.pager-item {
			display: flex;
			border-radius: var(--border-secondary);
			cursor: pointer;
			background-color: transparent;
			font-size: 16px;
			border-radius: 50%;
			min-width: 28px;
			min-height: 28px;
			line-height: 28px;
			text-align: center;
			justify-content: center;
			aspect-ratio: 1 / 1;
			padding: 0px;
			-webkit-clip-path: circle();
			clip-path: circle();
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			color: var(--on-surface);
			border: none;
			outline: none;
			&:hover {
				background-color: var(--primary);
				color: var(--on-primary);
			}

			&.item-current {
				background-color: var(--secondary);
				color: var(--on-secondary);
			}
			&.last-item,
			&.first-item {
				border: 1px solid var(--border-color);
			}
		}
	}
}
