.search-operations fieldset .pui-input,
.search-operations fieldset .form-group-select {
    input,
    select {
        border: 1px solid var(--outline);
        height: 27px;
        font-size: 14px;

        option {
            text-transform: capitalize;
        }
    }
    input {
        padding: 0 8px;
        background-color: var(--background);
    }
    select {
        text-transform: capitalize;
    }
    svg.pui-input__icon.pui-icon {
        right: 14px;
        width: 15px;
        bottom: 3px;
    }
    .label-jadmin,
    label {
        font-size: 14px;
        font-weight: 500;
        color: var(--on-surface);
    }
    svg.pui-icon {
        bottom: 6px;
    }
}
