.search-operations fieldset .jadmin-input,
.search-operations fieldset .form-group-select {
    .pragmate-element-input,
    .pui-input,
    select {
        border: 1px solid var(--outline);
        height: 27px;
        font-size: 14px;
        input {
            padding: 0 8px;
        }
        option {
            text-transform: capitalize;
        }
    }
    select {
        text-transform: capitalize;
    }
    .label-jadmin,
    label {
        font-size: 14px;
        font-weight: 500;
        color: var(--on-surface);
    }
    svg.pragmate-icon {
        bottom: 6px;
    }
}
